.app.dark {
  --color-bg: #090949;
  --color-primary: #049604;
  --color-secondary: #04ff04;
  --color-inverted-bg: #bfbfd2;
  --color-primary-100: #0b1a1c;
  --color-primary-200: #163538;
  --color-primary-300: #214f54;
  --color-primary-400: #2c6a70;
  --color-primary-500: #37848c;
  --color-primary-600: #5f9da3;
  --color-primary-700: #87b5ba;
  --color-primary-800: #afced1;
  --color-primary-900: #d7e6e8;
  --color-secondary-100: #261c0a;
  --color-secondary-200: #4c3815;
  --color-secondary-300: #73551f;
  --color-secondary-400: #99712a;
  --color-secondary-500: #bf8d34;
  --color-secondary-600: #cca45d;
  --color-secondary-700: #d9bb85;
  --color-secondary-800: #e5d1ae;
  --color-secondary-900: #f2e8d6;
  --color-light-100: #30302f;
  --color-light-200: #61605e;
  --color-light-300: #918f8c;
  --color-light-400: #c2bfbb;
  --color-light-500: #f2efea;
  --color-light-600: #f5f2ee;
  --color-light-700: #f7f5f2;
  --color-light-800: #faf9f7;
  --color-light-900: #fcfcfb;
  --color-cherry-100: #1c0b11;
  --color-cherry-200: #381622;
  --color-cherry-300: #542134;
  --color-cherry-400: #702c45;
  --color-cherry-500: #8c3756;
  --color-cherry-600: #a35f78;
  --color-cherry-700: #ba879a;
  --color-cherry-800: #d1afbb;
  --color-cherry-900: #e8d7dd;
  --color-accent-cherry-100: #261117;
  --color-accent-cherry-200: #4c232e;
  --color-accent-cherry-300: #733444;
  --color-accent-cherry-400: #99465b;
  --color-accent-cherry-500: #bf5772;
  --color-accent-cherry-600: #cc798e;
  --color-accent-cherry-700: #d99aaa;
  --color-accent-cherry-800: #e5bcc7;
  --color-accent-cherry-900: #f2dde3;
}
