.app.light {
  --color-bg: #fcfcfb;
  --color-primary: #041c65;
  --color-secondary: #0449e0;
  --color-inverted-bg: #8f528e;
  --color-primary-100: #d7e6e8;
  --color-primary-200: #afced1;
  --color-primary-300: #87b5ba;
  --color-primary-400: #5f9da3;
  --color-primary-500: #37848c;
  --color-primary-600: #2c6a70;
  --color-primary-700: #214f54;
  --color-primary-800: #163538;
  --color-primary-900: #0b1a1c;
  --color-secondary-100: #f2e8d6;
  --color-secondary-200: #e5d1ae;
  --color-secondary-300: #d9bb85;
  --color-secondary-400: #cca45d;
  --color-secondary-500: #bf8d34;
  --color-secondary-600: #99712a;
  --color-secondary-700: #73551f;
  --color-secondary-800: #4c3815;
  --color-secondary-900: #261c0a;
  --color-light-100: #fcfcfb;
  --color-light-200: #faf9f7;
  --color-light-300: #f7f5f2;
  --color-light-400: #f5f2ee;
  --color-light-500: #f2efea;
  --color-light-600: #c2bfbb;
  --color-light-700: #918f8c;
  --color-light-800: #61605e;
  --color-light-900: #30302f;
  --color-cherry-100: #e8d7dd;
  --color-cherry-200: #d1afbb;
  --color-cherry-300: #ba879a;
  --color-cherry-400: #a35f78;
  --color-cherry-500: #8c3756;
  --color-cherry-600: #702c45;
  --color-cherry-700: #542134;
  --color-cherry-800: #381622;
  --color-cherry-900: #1c0b11;
  --color-accent-cherry-100: #f2dde3;
  --color-accent-cherry-200: #e5bcc7;
  --color-accent-cherry-300: #d99aaa;
  --color-accent-cherry-400: #cc798e;
  --color-accent-cherry-500: #bf5772;
  --color-accent-cherry-600: #99465b;
  --color-accent-cherry-700: #733444;
  --color-accent-cherry-800: #4c232e;
  --color-accent-cherry-900: #261117;
}
